node_modules

# Output
**/__pycache__/
**/__pycache__/**

.output
.vercel
.netlify
.wrangler
.svelte-kit/
build/
.venv/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
