.leaflet-control-layers-expanded {
    background: #4b00ad;
    color: #0ac733; /* Change this to your desired color */
}

/* Change the background color of the control layer */
.leaflet-control-layers {
    background: #4b00ad; /* Change this to your desired color */
}

/* Change the text color of the control layer */
.leaflet-control-layers-label {
    color: #c70a9e; /* Change this to your desired color */
}
